<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Fantástica></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <link rel="stylesheet" href="/css/index.css">

    <form action="/pizzas/busca" method="get">
        <input type="text" name="q" placeholder="Qual pizza você procura?" autocomplete="off" value="">
        <button type="submit">Buscar</button>
    </form>

    <main>
        
        <% for(let p of pizzas){ %>
        <article>
            <img src="<%= p.img %>" alt="<%= p.nome%>">
            <a href="/pizzas/<%= p.id %>">Ver Mais</a>
            <button>+Add</button>
            <div><%= p.nome %></div>
            <span>R$ <%= p.preco %></span>
        </article>
        <% } %>
        
    </main>
</body>

</html>